<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;900&display=swap" rel="stylesheet">

<body>

  <div id=intro>
    <h1 id=title1>Tempo <br> libero </h1>

    <div id=txtbln1>
      <h2>Com’era, com’è, come vorremmo che fosse</h2>
    </div>

    <div id=txtbln2>
      <h3>Il tempo libero è quella frazione di tempo che l’individuo può organizzare in modo autonomo, non essendo destinato all’attività lucrativa, a compiti domestici o alla soddisfazione di bisogni fisiologici.
      </h3>
    </div>

    <div id=txtbln3>
      <h3>
        Attualmente il tempo libero in Italia costituisce in media il 22% del nostro tempo. </h3>
    </div>
  </div>
  <div id=passato>
    <h1>Passato </h1>
    <h2>Com'era il tempo libero? </h2>
    <div id=grafo1></div>
    <div id=grafo2></div>
    <div id=grafo3></div>
  </div>
  <div id=presente>

    <div class=bordino>
      <h1>2020 </h1>
      <h2>Il tempo libero in Italia ai tempi della pandemia </h2>
    </div>

    <div class=bordino id=tre>

      <h4>Le misure di riduzione del contagio da Covid-19 hanno causato nel 2020 un cambiamento radicale nelle abitudini degli italiani e non solo. Oltre che riorganizzare il lavoro all’interno delle mura domestiche, anche il tempo libero ha subito delle modifiche.</h4>

    </div>

    <h2 class=nocap>
      Durante la pandemia gli italiani hanno trascorso più tempo a:
    </h2>

    <div id=txtbln4>
      <h2 class=nocap> 1.16h</h2>
      <h3>Di trasporto al giorno risparmiate da chi ha lavorato da casa.</h3>
    </div>

    <div id=perc>
      
      <div id=perc1>
        <h1>36%</h1>
        <h2 class=nocap> Guardare la TV</h2>
      </div>

      <div id=perc2>
        <h1>35%</h1>
        <h2 class=nocap> Cucinare</h2>
      </div>

      <div id=perc3>
        <h1>30%</h1>
        <h2 class=nocap> Dormire</h2>
      </div>

    </div>

    <div id=grafo4></div>
    <div id=grafo5></div>
    </d>
    <div id=futuro>
      <h1>Futuro </h1>
      <h2>Come vorremmo spendere il nostro tempo libero nel futuro? </h2>
      <div id=grafo6></div>
      <div id=grafo7></div>
    </div>

</body>